USE [master]
GO
/****** Object:  Database [Movierentals]    Script Date: 25/11/2019 9:36:33 AM ******/
CREATE DATABASE [Movierentals]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movierentals', FILENAME = N'C:\Users\Home\Movierentals.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movierentals_log', FILENAME = N'C:\Users\Home\Movierentals_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movierentals].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movierentals]
GO
USE [Movierentals]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25/11/2019 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(10,1) NOT NULL,
	[CustomerFirstName] [nvarchar](255) NULL,
	[CustomerLastName] [nvarchar](255) NULL,
	[CustomerAddress] [nvarchar](255) NULL,
	[CustomerPhone] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 25/11/2019 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MoviesID] [int] IDENTITY(10,1) NOT NULL,
	[MoviesRatings] [nvarchar](50) NULL,
	[MoviesTitle] [nvarchar](255) NULL,
	[MoviesYear] [nvarchar](255) NULL,
	[MoviesRental_Cost] [money] NULL,
	[MoviesCopies] [nvarchar](50) NULL,
	[MoviesPlot] [ntext] NULL,
	[MoviesGenre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MoviesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentedMovies]    Script Date: 25/11/2019 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentedMovies](
	[RentedMovieID] [int] IDENTITY(10,1) NOT NULL,
	[RentedMovie_MID_FK] [int] NULL,
	[RentedMovie_CID_FK] [int] NULL,
	[RentedMovie_DateRented] [datetime] NULL,
	[RentedMovie_DateReturned] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RentedMovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD FOREIGN KEY([RentedMovie_CID_FK])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD  CONSTRAINT [FK__RentedMov__Rente__4E88ABD4] FOREIGN KEY([RentedMovie_MID_FK])
REFERENCES [dbo].[Movies] ([MoviesID])
GO
ALTER TABLE [dbo].[RentedMovies] CHECK CONSTRAINT [FK__RentedMov__Rente__4E88ABD4]
GO
USE [master]
GO
